*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
}
body{
    align-items: center;
    justify-content: center;
    display: flex;      
    background-color: blue;
    height: 100vh;


}
.time{
    margin:50%;
    width: 500px;
    height: 200px;
    border:#111 inset 60px;
    text-align: center;
    font-size: 40px;
    vertical-align: center; 
    color:white;
    
}
